WANDB_API_KEY=inster_wandb_key
WANDB_PROJECT=insert_wandb_project_name
WANDB_ENTITY=insert_wandb_entity

HOST=0.0.0.0
PORT=8001

WANDB_ARTIFACT_NAME=movie-rec-link-regression-weights
WANDB_ARTIFACT_ALIAS=latest
MODEL_SERVICE_GRAPH_BUNDLE_FILE=graph_bundle.pt
MODEL_SERVICE_ARTIFACT_CACHE_DIR=artifacts

MODEL_SERVICE_DEVICE=auto
MODEL_SERVICE_TOP_K=10
MODEL_SERVICE_CORS_ORIGINS=http://localhost:8501,https://localhost:8501,http://127.0.0.1:8501,https://127.0.0.1:8501
